<html>
<head>
	<title>Wellness Tracker</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<script src="/js/bar.js"></script>
</head>

<body>
	<div id="main" class="screen">
		<div class="dropdown">
		<button onClick="openMenu()" class="dropbtn">&#9776;</button>
		<div id="sidebar" class="dropdown-content">
			<a class="selected" href="/">Home</a>
			<a href="record">Record</a>
			<a href="forum">Forum</a>
			<a href="profile">Profile</a>
			<a href="help">Help</a>
		</div>
  </div>
    <h3 class="title">Help</h3>
	</div>


</body>
</html>
